*{ text-align: center;}
#navbar {height:100px; background-color:#d3d3d3; }
#bar{list-style: none;  margin:0px; margin-right:30px;
}
.menu{padding:0; padding-right: 30px; font-size: 30px;
    color:black; text-decoration:none;
    float:right; line-height:100px;
    vertical-align: middle;
}


#pic{ width:60%; margin-top: 40px;}
#pr{ font-family:Helvetica serif; font-size:24px; font-weight:bold;
    color:#545454; text-align:center; margin:60px 0 60px 0;
}

/* products */
#main{ width:1300px; text-align:center; display:inline-block; text-decoration: none;
  }
.box{border:1px solid; border-style:none; width:400px;
       display:inline-block; margin-right:40px; margin-bottom:80px;
     background-color:#ffdead;}
.box_sp{border:1px solid; border-style:none; width:400px;
       display:inline-block; margin-bottom:80px; background-color:#ffdead;}
.product{width: 400px;height: 400px;}
.write{margin-top:20px; font-family:helvetica serif; font-size:16px;
  color: black;
}
.end{margin-top:4px; color:}

/*2018*/
.carousel-inner{margin-top: 40px;}
.flower{color:#87cefa}
